{% extends 'base.html' %}

{% block title %}
    Portfolio
{% endblock %}

{% block portfolio %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="project-div">
                    <p class="project-title">HomePage</p>
                    <div class="project-section">
                        <p class="project-description">Code for this website. It is currently being hosted using AWS.</p>
                        <div class="project-stack-section">
                            <p class="project-stack-header">Tech Stack</p>
                            <div class="project-stack-list">
                                <p class="project-stack-item">Python</p>
                                <p class="project-stack-item">Flask</p>
                                <p class="project-stack-item"> Jija2</p>
                                <p class="project-stack-item">HTML</p>
                                <p class="project-stack-item">CSS</p>
                            </div>
                        </div>
                    </div>
                    <a class="project-link" href="https://github.com/karla0/home_page">Link to GitHub Repo</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="project-div">
                    <p class="project-title">CloudBank</p>
                    <div class="project-section">
                        <p class="project-description">A Flask app that can take an uploaded file, analyze it and post the results that can be viewed by the user who uploaded the file.</p>
                        <div class="project-stack-section">
                            <p class="project-stack-header">Tech Stack</p>
                            <div class="project-stack-list">
                                <p class="project-stack-item">Python</p>
                                <p class="project-stack-item">Flask</p>
                                <p class="project-stack-item">Jija2</p>
                                <p class="project-stack-item">HTML</p>
                                <p class="project-stack-item">CSS</p>
                            </div>
                        </div>
                    </div>
                    <a class="project-link" href="https://github.com/karla0/cloudbank">Link to GitHub Repo</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-10">
                <div class="project-div">
                    <p class="project-title">Loteria Game</p>
                    <div class="project-section">
                        <p class="project-description">A Django app that can create a game and add players using a game code.</p>
                        <div class="project-stack-section">
                            <p class="project-stack-header">Tech Stack</p>
                            <div class="project-stack-list">
                                <p class="project-stack-item">Python</p>
                                <p class="project-stack-item">Django</p>
                                <p class="project-stack-item">JavaScript</p>
                                <p class="project-stack-item">HTML</p>
                                <p class="project-stack-item">CSS</p>
                            </div>
                        </div>
                    </div>
                    <a class="project-link" href="https://github.com/karla0/loteria_app">Link to GitHub Repo</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}