{% extends 'base.html' %}

{% block title %}
    Resume
{% endblock %}

{% block resume %}
    <div class="container" id="resume-container">
        <div class="row" id="resume-header-row">
            <div class="col resume-header-col w-100">
                <p id="resume-header-text">Resume</p>
            </div>
        </div>
        <div class="row resume-company">
            <p id="resume-apple">Apple</p>
        </div>
        <div class="row resume-position-row">
            <div class="col resume-position-col">
                <p class="resume-position-header">Genius</p>
                <p class="resume-position-date">December 2017 - Present</p>
                <hr>
            </div>
        </div>
        <div class="row resume-descr-row">
            <div class="col resume-descr-col">
                <ul class="description-text">
                    <li class="resume-description-item">
                        Perform hardware and software repairs on Mac computers.
                    </li>
                    <li class="resume-description-item">
                        Troubleshoot, and test solutions to isolate reasons for technical issues with all Apple devices but with a main focus on Mac products. 
                    </li>
                    <li class="resume-description-item">
                        Maintain communication across teams to ensure there is clear understanding about tests, procedures that have been performed or are still required to complete repairs.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row resume-position-row">
            <div class="col resume-position-col">
                <p class="resume-position-header">SPG Software Developer/Career Experience</p>
                <p class="resume-position-date">January 2021 - June 2021</p>
                <hr>
            </div>
        </div>
        <div class="row resume-descr-row">
            <div class="col resume-descr-col">
                <ul class="description-text">
                    <li class="resume-description-item">
                        Used Python for creating and automating data visualizations in the form of quality reports, updated the existing code base and familiarized myself with technologies such as Docker, AWS, and the various API’s used in our organization.
                    </li>
                    <li class="resume-description-item">
                        Worked on a program that analyzed large amounts of data efficiently, and updated infrastructure needed for it to deploy to production.
                    </li>
                    <li class="resume-description-item">
                        Effectively communicated across teams to exchange ideas and received feedback on how to best approach and execute steps needed to develop the software that was needed for the project.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row resume-position-row" >
            <div class="col resume-position-col">
                <p class="resume-position-header">AppleCare Advisor</p>
                <p class="resume-position-date">September 2020 - December 2020</p>
                <hr>
            </div>
        </div>
        <div class="row resume-descr-row">
            <div class="col resume-descr-col">
                <ul class="description-text">
                    <li class="resume-description-item">
                        Performed over the phone troubleshooting on Mac computers.
                    </li>
                    <li class="resume-description-item">
                        Kept updated on technical information to be able to pin point root causes of issues.
                    </li>
                    <li class="resume-description-item">
                        Maintained high level of communication by giving clear directions and instructions to users since I was not able to physically work with the computer it became a collaborative effort to properly diagnose and test software or hardware.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row resume-position-row">
            <div class="col resume-position-col">
                <p class="resume-position-header">Technical Specialist</p>
                <p class="resume-position-date">March 2017 - December 2017</p>
                <hr>
            </div>
        </div>
        <div class="row resume-descr-row">
            <div class="col resume-descr-col">
                <ul class="description-text">
                    <li class="resume-description-item">
                        Presented repair solutions to users involving network connectivity issues, physical damage, and software.
                    </li>
                    <li class="resume-description-item">
                        Balanced multiple appointments with users to ensure that time metrics did not surpass a certain threshold which was done by developing a strategy to best approach each one so that time was maximized while maintaining a high quality of troubleshooting.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row resume-position-row">
            <div class="col resume-position-col">
                <p class="resume-position-header">Specialist</p>
                <p class="resume-position-date">March 2015 - March 2017</p>
                <hr>
            </div>
        </div >
        <div class="row resume-descr-row" id="resume-descr-row-last">
            <div class="col resume-descr-col">
                <ul class="description-text">
                    <li class="resume-description-item">Learned about Apple's technology as well as the culture and set the first impression for users</li>
                    <li class="resume-description-item">Communicated with users to learn key details about their lives to best recommend what Apple products would be best for them including the needed configurations to ensure they get exactly what they need.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}