body {
    background-color: #6279B8;
}

.contact-col {
    /* background-color: turquoise; */
    text-align: center;

}

.contact-col a:hover {
    color: #BF1363;
    text-decoration: none;
}

#contact-container {
    background-color: #FFFFFF;
    border: solid #D8E1FF 3px;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 2px 2px 2px #2B303B;
}

#contact-header-text {
    text-align: center;
    font-size: 1.5em;
    border-bottom: #EDCF8E 3px solid;
    color: #808088;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.contact-label {
    /* background-color: wheat; */
    text-align: center;
    border-bottom: solid 1px #8384C3;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.contact-info {
    /* background-color: tomato; */
    color: #808088;
}

.contact-row {
    /* background-color: violet; */
    margin: 2%;
    padding: 1%;
    
}

#header-row {
    background-color: #C8C2FF;
    padding: 2%;
    border-bottom: solid #FFE8C2 2px;
}

.contact-icon {
    color:  #FF9F1C;
    padding: 1%;
    margin: 1%;
}

#linkedin-icon {
    background-color: #0E76A8;
    color: #FFFFFF;
    box-shadow: 4px 5px 5px #808088;
}

#navbar-header {
    color: #6A4C93;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.nav-icon {
   padding-right: 5%;
   color: #FFEEDD;
}


#resume-apple {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 3px #8390FA;
    margin: 2%;
}

#resume-container {
    background-color: #FFFFFF;
    padding: 6%;
    box-shadow: 4px 5px 5px #808088;
    border-radius: 10px;

}

.resume-description-item {
    /* background-color: blue; */
    padding: 1%;
    margin: 1%;
    font-size: 0.8em;
    width: 80%;
}


.resume-descr-row {
    /* background-color: orangered; */
    border-bottom: #8390FA solid 2px;
    padding: 2%;
}

#resume-descr-row-last {
    border-bottom: 0;
}


#resume-header-row {
    /* background-color: #0E76A8; */
    font-weight: bold;
    font-size: 1.5em;
}


#resume-header-text {
    text-align: center;
    border-bottom: #FAC748 2px solid;

}

#resume-main-div {
    margin: 2%;
    border-radius: 10px;
}

.resume-position-date {
    color: #808088;
    font-style: italic;
    font-size: .8em;
}

.resume-position-header {
    font-weight: bold;
    margin: 0;
    margin-top: 5%;
}

/* .resume-position-row {
    /* background-color: orange; */

.project-div {
    background-color: #FFFFFF;
    margin: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #3d3d3d;
}

.project-div a:hover {
    color:#CA1551;
}

.project-description {
    padding: 2%;
    /* background-color: #BF1363; */
    width: 50%;
    justify-self: center;
    align-self: center;
    padding: 3%;
    margin: 3%;
}

.project-link {
    color: #4C5257;
    padding: 2%;
    text-decoration: underline;
    background-color: #D8CCE1;
    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: .8em;
}


.project-section {
    display: flex;
    margin-bottom: 2%;
}

.project-stack-header {
    font-size: .8em;
    padding: 2%;
    /* background-color: orchid; */
    text-align: center;
    border-bottom: 1px solid #5C164E;
    font-weight: bold;
}

.project-stack-item {
    font-size: .7em;
    font-style: italic;
    margin: 0;
}

.project-stack-list {
    list-style-type: none;
    text-align: center;
}


.project-stack-section{
    /* background-color: #C8C2FF; */
    width: 50%;
}

.project-title {
    font-weight: bold;
    background-color: #49376C;
    text-decoration: underline;
    color: #FFFFFF;
    padding: 2%;
    border-radius: 10px 10px 0 0;
}